<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html>
<html>
<head>
        <title>Projet 4ASRC ESGI</title>
</head>
<body>
        <center>
         <img src="esgi.jpg" alt="Ma photo">
         <b><h2>{{ classe }} - {{ groupe }}</h2></b>
	 <h5>Page deployee par Ansible </h5>
        </center>
</body>
</html>

